

        :host-context(.example) {
            background: skyblue;
            border-radius: 0.5em;
            margin: 1.5em 0;
            padding: 1em 1.2em;
            display: block;
        }

        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        ::ng-deep  a {
            color: #fff;
            padding: 0 1em;
            text-decoration: none;
        }

        a.elementAndClassExample {
        //Will only be applied to <a> tags and if the class name matches 'elementAndClassExample'
        //The rest of any other <a> tags in the page that dont have the class name will have the above css settings applied.
          color: red;

          padding: 0 1em;
          text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
